body {
  margin: 0px;
  padding: 0px;
  background: rgb(0, 0, 0);
}

#camera_container {
  position: fixed;
  top: 0;
  left: 0;
}

#canvas{
  display: none;
}

#video_overlay {
  position: fixed;
  display: none;
  max-width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #111;
}

/*Camera contorl styling*/
#camera_controls {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  z-index: 2;
  bottom: 0;
}

button {
  outline: none;
  position: absolute;
  color: white;
  display: block;
  opacity: 1;
  background: transparent;
  border: solid 2px #fff;
  padding: 0;
  text-shadow: 0px 0px 4px black;
  background-position: center center;
  background-repeat: no-repeat;
  pointer-events: auto;
  z-index: 2;
}

#takePhoto {
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  width: 80px;
  height: 80px;
  background-image:url('img/camera.svg');
  border-radius: 50%;
}

#takePhoto:active {
  background-color: #fafafad7;
}

#switchCamera {
  width: 60px;
  height: 60px;
  background-image:url('img/front-camera.svg'); 
  border-radius: 50%;
  left: calc(50% - 32px);
  top: calc(18% - 32px);
}

#switchCamera[aria-pressed="true"]{
  background-image:url('img/back-camera.svg');
}

#fullscreen {
  left: calc(50% - 32px);
  top: calc(82% - 32px);
  width: 60px;
  height: 60px;
  background-image:url('img/fullscreen.svg');
  border-radius: 50%;
}

#fullscreen[aria-pressed="true"] {
  background-image:url('img/fullscreen-exit.svg');
}

#retake {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  left: calc(50% - 32px);
  top: calc(18% - 32px);
}

#retake:active {
  background-color: #fafafa13;
}

#savePicture {
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  width: 80px;
  height: 80px;
  background-image:url('img/download.png');
  border-radius: 50%;
}

#savePicture:active {
  background-color: #fafafad7;
}

/* Alloow device motion */
#cameraModal {
  background-color: #f5f5f5;
  display:none;
  padding: 30px 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: absolute;
  max-width: 60%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  }
  
  #cameraModal_header {
  font-family: sans-serif;
  font-style: normal;
  font-size: 16.5px;
  color: #000;
  text-decoration: none;
  padding: 0px;
  }
  
  #cameraModal_txt {
  font-family: sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  padding: 0px;
  }
  
  #cameraAccept {
  background-color: #4CAF50;
    color: #fafafa;
    padding: 2px 8px;
    text-transform: uppercase;
    border: 2px solid #000;
  }

  /**Line canvas**/
/* #cameraLine { */
  /* max-width:85%;
  height: 5px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  top: 90%;
  font-size:0px; */
  /*left: calc(50vw - 100vmax);*/
  /*transform: rotate(360deg);*/
  /*transform-origin: centre point*/
  /* z-index:10;
  opacity:0.5; 
}*/
  

/* Picture taken by user  */   
    #Picture{
    /* position: fixed; */
    max-width: 100%;
    height: auto;
    }

@media screen and (orientation: portrait) {

  #camera_container {
    width: 100%;
    height: 80%;
  }

  #camera_controls {
    width: 100%;
    height: 20%;
    left: 0;
  }

  #fullscreen {
    left: calc(80% - 32px);
    top: calc(50% - 32px);
  }

  #retake{
    left: calc(80% - 32px);
    top: calc(50% - 32px);
  }

  #switchCamera{
    left: calc(20% - 32px);
    top: calc(50% - 32px);
  }
}

@media screen and (orientation: landscape) {
  #camera_container {
    width: 80%;
    height: 100%;
  }

  #camera_container.left {
    left: 20%;
  }

  
  #camera_controls {
    width: 20%;
    height: 100%;
    right: 0;
  }

  
  #camera_controls.left {
    left: 0;
  }

  #switchCamera {
    left: calc(50% - 32px);
    top: calc(82% - 32px);
  }

  #retake {
    left: calc(50% - 32px);
    top: calc(18% - 32px);
  }

  #fullscreen {
    left: calc(50% - 32px);
    top: calc(18% - 32px);
  }
}
